# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.lock

# IDE
.idea/
.vscode/
*.iml
*.swp

# macOS
.DS_Store
*.pem

# Android
*.jks
*.keystore
local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Env
.env
.env.*

# Generated
*.g.dart
*.freezed.dart
